@{
    ViewBag.Title = "Index";
}

<h2>Accedi</h2>

@using (Html.BeginForm())
{
    <div class="d-flex flex-column">
        <label for="Username">Username</label>
        <input type="text" id="Username" name="Username" class="form-control" />

        <label for="Password">Password</label>
        <input type="password" id="Password" name="Password" class="form-control" />
    </div>
    <button class="btn btn-primary mt-3">Accedi</button>
}


