@{
    ViewBag.Title = "Contact";
}

<main aria-labelledby="title">

    <section>
        <h3 class="fs-1 fw-bold">Contattaci</h3>
        <p class="fs-4 fw-lighter mt-3">Per qualsiasi domanda o richiesta di informazioni, non esitare a contattarci utilizzando i seguenti metodi:</p>

        <address>
            EpiTruck S.r.l.<br>
            Via dei Trasportatori, 123<br>
            00123, Città Trasporti (TS)<br>
            Telefono: +39 0123 456789<br>
            Email: info@epitruck.com
        </address>

        <div class="mb-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2814.1255865479336!2d10.498717615854774!3d43.31729207913615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132cc77da02451cb%3A0x9b36a63f5faa539!2sCecina%20Mare%2C%20Cecina%20LI!5e0!3m2!1sen!2sit!4v1646640692797!5m2!1sen!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </section>
</main>
