@{
    ViewBag.Title = "Home Page";
}

<main>
    <h1 class="fs-1 fw-bold">EpiTruck</h1>
    <h2 class="fs-2 mt-3">Benvenuto!</h2>
    <p class="fs-4 fw-lighter mt-3">Benvenuti in EpiTruck, la soluzione affidabile per le vostre esigenze di trasporto su tutto il territorio nazionale. Con una vasta flotta di veicoli moderni e un team altamente qualificato, ci impegniamo a offrire servizi di trasporto efficienti, sicuri e su misura per le vostre merci. Dalla spedizione di carichi pesanti alle consegne più delicate, EpiTruck è qui per soddisfare le vostre necessità di trasporto in modo rapido e affidabile. Scegliete EpiTruck per un viaggio senza intoppi verso il vostro successo commerciale.</p>

    <div class="d-flex justify-content-center mt-4">
        <div class="card h-110" style="width: 20rem;">
            <img src="https://www.lifepromise.it/wp-content/uploads/2019/11/slide4mod.jpg" class="card-img-top" alt="..." style="height: 200px;">
            <div class="card-body">
                <p class="card-text">
                    "Viaggia con noi verso il tuo destino! Con il nostro solido parco veicoli, garantiamo spedizioni rapide e affidabili in tutto il paese. Siamo pronti a portare avanti il tuo carico con sicurezza e efficienza."
                </p>
            </div>
        </div>
        <div class="card h-110" style="width: 20rem;">
            <img src="https://www.ctvtrasporti.it/wp-content/uploads/2023/09/Azienda-di-trasporti-internazionali-a-Verona-CTV.jpg" class="card-img-top" alt="..." style="height: 200px;">
            <div class="card-body">
                <p class="card-text"> "Dietro ogni spedizione di successo ci sono persone dedicate. Il nostro team di esperti è qui per gestire ogni aspetto della tua spedizione, dall'inizio alla fine. Affidati a noi per un servizio personalizzato e affidabile." </p>
            </div>
        </div>
        <div class="card h-100" style="width: 20rem;">
            <img src="https://www.stilef.it/wp-content/uploads/2018/11/imballaggi-primari.jpg" class="card-img-top" alt="..." style="height: 200px;">
            <div class="card-body">
                <p class="card-text"> "Preparati a consegnare il tuo successo! I nostri pacchi sono pronti per il loro viaggio verso la tua destinazione. Confezionati con cura e precisione, garantiamo che i tuoi articoli arriveranno in perfette condizioni e in tempo." </p>
            </div>
        </div>
        <div class="card h-100" style="width: 20rem;">
            <img src="https://www.bachmann-group.it/CustomerData/490/Files/Images/transport/tanklastzug.jpg" class="card-img-top" alt="..." style="height: 200px;">
            <div class="card-body">
                <p class="card-text"> "Affidabilità e qualità: sono ciò che ci guida ogni giorno. Con i nostri camion di marca, puoi contare su prestazioni superiori e una guida sicura in ogni situazione. Scegli la nostra marca per una spedizione senza intoppi e con risultati eccellenti." </p>
            </div>
        </div>
    </div>


</main>